<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBConnect" connectionString="Data Source=Maxim\SQLEXPRESS;Initial Catalog=Task4Managers;Integrated Security=True;persist security info=True;user id=task4;password=1234;" providerName="System.Data.SqlClient" />
    <add name="Model.Properties.Settings.DBConnect" connectionString="Data Source=Maxim\SQLEXPRESS;Initial Catalog=Task4Managers;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Model.Properties.Settings.UserDBConnect" connectionString="Data Source=MAXIM\SQLEXPRESS;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ManagersContext" connectionString="metadata=res://*/Managers.DBManagersModel.csdl|res://*/Managers.DBManagersModel.ssdl|res://*/Managers.DBManagersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Maxim\SQLEXPRESS;initial catalog=Task4Managers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UsersEntities" connectionString="metadata=res://*/Users.UsersModel.DBUsersModel.csdl|res://*/Users.UsersModel.DBUsersModel.ssdl|res://*/Users.UsersModel.DBUsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAXIM\SQLEXPRESS;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>