@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "IndexPartial";
}

<h2>Index1</h2>
@(Model)

@section Scripts {
    @Scripts.Render("~/bundles/HighChart")
    @Scripts.Render("~/bundles/highcharts")
}