@model Task5MVCProject.Models.SaleInfoModel
@{
    ViewBag.Title = "SaleInfo";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<h2>SaleInfo</h2>



<table id="datatable">

</table>

@Html.DropDownList("Managers", Model.Managers.Select(x => new SelectListItem() 
{ 
    Text = x.ManagerName,
    Value = x.ManagerName
}))
@{
    var a = new List<SelectListItem>(){new SelectListItem
    {
        Text = "-",
        Value = "-"
    }};
        a.AddRange( Model.Products.Select(x => new SelectListItem()
                {
                    Text = x.ProductName,
                    Value = x.ProductName
                }).ToList());
}
@Html.DropDownList("Products", a)

Date: <input type="text" id="datepicker">

@*@Html.ActionLink("DemoChart", "IndexPartial", "Demo")*@
@Html.ActionLink("Sales information", "Index", "Demo")
@*@{Html.RenderPartial("~/Areas/Default/Demo/IndexPartial.cshtml");}*@
<script type="text/javascript">
    $('#Managers').bind("change", function (e) {
        CustomLoad();
    });
    $('#Products').bind("change", function (e) {
        CustomLoad();
    });
    $('#datepicker').bind("change", function (e) {
        CustomLoad();
    });
    function CustomLoad()
    {
        $.ajax({
            url: "/SaleInfo/GetByFilter",
            data: {
                manager: $('#Managers')[0].value,
                product: $('#Products')[0].value,
                date: $("#datepicker").val()
            },
            success: function (data) {
                $('#datatable')[0].innerHTML = data;
            }
        });
    }
    $(function () {
        $("#datepicker").datepicker({ dateFormat: 'dd.mm.yy' }).val();
    });
</script>